<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="openingBalance" value="0"/>
		<add key="previousReading" value="0"/>
		<add key="unitSlab1" value="100"/>
		<add key="unitSlab2" value="200"/>
		<add key="unitSlab3" value="400"/>
		<add key="unitSlab4" value="600"/>
		<add key="energyCharge1" value="3.70"/>
		<add key="energyCharge2" value="3.90"/>
		<add key="energyCharge3" value="5.30"/>
		<add key="energyCharge4" value="6.30"/>
		<add key="energyCharge5" value="7.90"/>
		<add key="senctionLoad" value="7"/>
	</appSettings>
</configuration>