<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sourcePath" value="d:\source"/>
		<add key="targetPath" value="d:\source\target"/>
		<add key="fileType" value=".docx"/>
		<add key="filePattern" value="doc"/>
		<add key="fileAge" value="0"/>
	</appSettings>
</configuration>